.add_form_submit:hover {
	background-color: #F7EDEF;
}

.add_form label {
	font: 14px arial;
    color: #464648;
    position: absolute;
    margin-top: 7px;
}

.data {
	min-height: 30px;
	width: 450px;
	font: 13px sans-serif;
	margin-left: 200px;
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 5px;
}

.add_form_submit {
	width: 150px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 4px;
	border: 1px solid #ababab;
	outline: none;
}

.add_item a{
	color: #000;
	font: 20px sans-serif;
	padding: 15px;
	position: relative;
}


.add_item {
	margin-bottom: 40px;
}
