.products-delete {
	width: 100%;	
}

.products-delete > li {
	min-height: 160px;
	height: auto;
	margin-top: 15px;
	padding-bottom: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	position: relative;
}

.image-list {
	float: left;
	margin-right: 15px;
	min-height: 160px;
	height: auto;
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.title-list {
	margin-top: 60px;
	margin-bottom: 0;
}

.title-list > a {
	font: bold 15px sans-serif;
	color: #f72464;
	text-decoration: underline;
	right: 10px;
}

.title-list > a:hover {
	color: rgb(210, 10, 100);
}

.edit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	background-color: pink;
	border: 2px solid #a3c0d2;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
	text-decoration: none;
	color: #52575D;
}

.edit:hover,
.delete:hover {
	background-color: rgb(227, 66, 150);
	text-decoration: none;
	color: black;
}

.delete {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	background-color: pink;
	border: 2px solid #a3c0d2;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
	text-decoration: none;
	color: #52575D;
}

.add_item a{
	color: #000;
	font: 20px sans-serif;
	padding: 15px;
	position: relative;
}


.add_item {
	margin-bottom: 40px;
}

a.button {
 background: #911341;
 color: #ffffff;
 font-size: 18px;
 text-transform: uppercase;
 display: block;
 text-align: center;
 margin-top: 30px;
 margin-bottom: 10px;
 position: relative;
 z-index: 1;
 overflow: hidden;
 border-bottom: 4px solid #e3276c;
 width: 350px;
 height: 50px;
}
a.button:hover {
 color: #ffffff;
}
/*LEFT */
.button::before, .button::after {
 content: "";
 display: block;
 width: 100%;
 height: 100%;
 background: #ba2756;
 position: absolute;
 top: 0;
 left: -100%;
 transition: .3s;
 z-index: -1;
}
/* BOTTOM */
.button::after {
 background: #e3276c;
 top: 100%;
 left: 0;
}
.button:hover::before {
 left: 0;
}
.button:hover::after {
 top: 0;
 transition-delay: 0.2s;
}



/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* CSS для: 576px <= ширины <= 767px */
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .delete {
  	width: 150px;
  	font-size: 13px;
  }
  .title-list {
  	width: 450px;
  }
}
 
/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}